.card {
  padding: 0px;
  margin-top: 45px;
  margin-left: 50px;
  max-width: 70%;
  min-width: 740px;
}  

.wrapper{
  overflow: hidden;
}

.video-card {
  // background: rebeccapurple;
  float: left;
  padding-left: 10px; 
  padding-right: 10px; 
  padding-bottom: 175px;
}  
.motor-input{
  padding-left: 10px; 
}

.motor-label-width{
  width: 130px;
}

.motor-slider-length{
  padding-left: 200px; 
}
.sensor{
  padding-top: 40px; 
  padding-left: 10px; 
  float: left;    
}

.accel-chart {
  margin: auto;
  width: 300px;
  background-color: #FFFFFF;
}
.gyro-chart {
  margin: auto;
  width: 300px;
  background-color: #FFFFFF;
}
.radar-chart {
  margin: auto;
  width: 400px;
  height: 300px;
  background-color: #FFFFFF;
}

.compass-img{
  width: 196px;
  height: 196px;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  position: relative;
  top: -225px;
  left : 220px;
  // background: blue;
}
.bearing{
  position: relative;
  top: -225px;
  left: 550px;
  max-width: 75px;
  // background: blue;
}

.cam-select{
  // background: orange;
  height: 50px;
  width: 80px;  
  position: static;
}
.arrow-cam-select{
  top: -50px;
  left: 85px;
  position: relative;
}
.mode1-select{
  top: -100px;
  left: 145px;
  // background: white;
  height: 50px;
  width: 200px;  
  position: relative;
}
.arrow-mode1-select{
  top: -150px;
  left: 330px;
  position: relative;
}
.mode2-select{
  top: -200px;
  left: 385px;
  height: 50px;
  width: 200px;  
  position: relative;
}
.arrow-mode2-select{
  top: -250px;
  left: 570px;
  position: relative;
}
.cam-btn-apply{
  top: -300px;
  left: 610px;
  height: 50px;
  width: 100px;  
  position: relative;
}
//center the button within div
.bnt-cam{
  position: relative;
  top: 7px;
  left: 17px;
}
.arrow-apply{
  top: -400px;
  left: 635px;
  position: relative;
}
.compass-dyplo-logo{
  // background: RED;
  top: -350px;
  left: -50px;
  min-width: 700px;
  max-width: 700px;
  max-height: 300px;
  min-height: 300px;
  position: relative;
}
.dyplo-logo{
  position: relative;
  max-width: 400px;
  max-height: 250px;
  left: 50px;
  // background: red;
}
.cam-ctrl{
  // background: blue;
  max-height: 210px;
}