.card {
  padding: 0px;
  margin-top: 45px;
  margin-left: 50px;
  max-width: 70%;
  min-width: 740px;
}  

.wrapper{
  overflow: hidden;
}

.video-card {
  float: left;
  padding-left: 10px; 
  padding-right: 10px; 
}  
.motor-input{
  padding-left: 10px; 
}
.sensor{
  padding-top: 45px; 
  padding-left: 10px; 
  float: left;    
}