<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<ng-template #loading>Loading User Data...</ng-template>
<mat-card class="card">
    <mat-card-content>
        <div class="wrapper">
            <div class="video-card">
                <h2>Video live</h2>

                <video width="720" autoplay controls>
                    <source src="{{video_loc}}">
                </video>
                <div class="cam-ctrl">
                    <h2> Camera control</h2>
                    <div class="cam-select">
                        <mat-radio-group aria-label="Select a camera">
                            <mat-radio-button value="1" checked>Cam 1</mat-radio-button>
                            <mat-radio-button value="2">Cam 2</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="arrow-cam-select">
                        <img [src]=arrow_right_img_path>
                    </div>
                    <div class="mode1-select">
                        <mat-form-field>
                            <mat-label>Select the first filter</mat-label>
                            <mat-select [(value)]="mode1_val">
                                <mat-option>None</mat-option>
                                <mat-option value=1>Contrast</mat-option>
                                <mat-option value=2>Grayscale</mat-option>
                                <mat-option value=3>Threshold</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="arrow-mode1-select">
                        <img [src]=arrow_right_img_path>
                    </div>
                    <div class="mode2-select">
                        <mat-form-field>
                            <mat-label>Select the second filter</mat-label>
                            <mat-select [(value)]="mode2_val">
                                <mat-option>None</mat-option>
                                <mat-option value=1>Contrast</mat-option>
                                <mat-option value=2>Grayscale</mat-option>
                                <mat-option value=3>Threshold</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="arrow-mode2-select">
                        <img [src]=arrow_right_img_path>
                    </div>
                    <div class="cam-btn-apply">
                        <button class="bnt-cam" mat-raised-button>Apply</button>
                    </div>
                    <div class="arrow-apply">
                        <img [src]=arrow_up_img_path>
                    </div>
                    <div class="compass-dyplo-logo">
                        <div class="dyplo-logo">
                            <img class="dyplo" [src]=dyplo_img_path width="100%" height="100%">
                        </div>
                        <h4 class="bearing">{{rotationAngle}}&deg;</h4>
                        <div #imageContainer class="compass-img">
                            <img [src]=imagepath>
                        </div>
                    </div>
                </div>

            </div>
            <div class="sensor">
                <div>
                    <h2>General</h2>
                    <div>
                        Humidity: {{ bme?.humidityrelative }}%
                    </div>
                    <div>
                        Pressure: {{ bme?.pressure }}
                    </div>
                    <div>
                        Temperature: {{ bme?.temp / 1000 }} &#8451;
                    </div>
                    <div>
                        XDP throughput: {{ data_thr?.XDP / 1000 }} GB/s
                    </div>
                    <div>
                        Raptor throughput: {{ data_thr?.Raptor / 1000 }} GB/s
                    </div>
                </div>
                <div>
                    <h2>Acceleration</h2>
                    <div class="accel-chart">
                        <canvas #accelChart></canvas>
                    </div>
                </div>
                <div>
                    <h2>Gyroscope</h2>
                    <div class="gyro-chart">
                        <canvas #gyroChart></canvas>
                    </div>
                </div>
                <div>

                    <h2>Motor settings</h2>
                    <div>
                        <label class="motor-label-width">Motor 1 speed: {{motorSpeed_1}}</label>
                        <mat-slider min="0" max="100" step="1" (input)="onMotor1Change($event)" value={{motorSpeed_1}}
                            class="motor-slider-length">
                        </mat-slider>
                    </div>
                    <div>
                        <label class="motor-label-width">Motor 2 speed: {{motorSpeed_2}}</label>
                        <mat-slider min="0" max="100" step="1" (input)="onMotor2Change($event)" value={{motorSpeed_2}}
                            class="motor-slider-length">
                        </mat-slider>
                    </div>
                    <div>
                        <label class="motor-label-width">Motor 3 speed: {{motorSpeed_3}}</label>
                        <mat-slider min="0" max="100" step="1" (input)="onMotor3Change($event)" value={{motorSpeed_3}}
                            class="motor-slider-length">
                        </mat-slider>
                    </div>
                    <div>
                        <label class="motor-label-width">Motor 4 speed: {{motorSpeed_4}}</label>
                        <mat-slider min="0" max="100" step="1" (input)="onMotor4Change($event)" value={{motorSpeed_4}}
                            class="motor-slider-length">
                        </mat-slider>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>