<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<ng-template #loading>Loading User Data...</ng-template>
<!-->div class="example-button-row">
    <button mat-button (click)="getSensorData()">Load Data</button>
</div-->

<div class="card">
    <mat-card>
        <mat-card-title>Motor Speed: {{motorSpeed}}</mat-card-title>
        <div>
            <mat-slider min="0" max="100" step="1" (input)="onInputChange($event)" value={{motorSpeed}}>
            </mat-slider>
        </div>
    </mat-card>
</div>
<div class="main-div">
    <div>
        <mat-card class="card">
            <mat-card-title>BME</mat-card-title>
            <div *ngFor="let item of bme?.bme680 | keyvalue">
                <p>- {{ item.key }} : {{ item.value }} </p>
            </div>
        </mat-card>
        <mat-card class="card">
            <mat-card-title>AMS</mat-card-title>
            <div *ngFor="let item of ams | keyvalue">
                <p>- {{ item.key }} : {{ item.value }} </p>
            </div>
        </mat-card>
        <mat-card class="card">
            <mat-card-title>BMI accel</mat-card-title>
            <div *ngFor="let item of bmi088_accel?.bmi088_accel | keyvalue">
                <p>- {{ item.key }} : {{ item.value }} </p>
            </div>
        </mat-card>
        <mat-card class="card">
            <mat-card-title>BME gyro</mat-card-title>
            <div *ngFor="let item of bmi088_gyro | keyvalue">
                <p>- {{ item.key }} : {{ item.value }} </p>
            </div>
        </mat-card>
    </div>
</div>
<app-video></app-video>