[Unit]
Description=XDP Sensors Web Server

[Service]
ExecStart=/usr/bin/twistd --nodaemon --pidfile= -o -y /var/www/xdpsensors.tac
WorkingDirectory=/var/www/
Restart=always

[Install]
WantedBy=multi-user.target
